 input:focus:invalid , textarea:focus:invalid {
     border-color:red;
 } 

inp ut:focus:valid,textarea:focus:valid {
    border-color: greenyellow;
  }

 input, textarea {
     transition-duration: 0.5s;
 }

 section#contact .section-heading {
     color: #fff;
 }

 section#contact .form-group {
     margin-bottom: 25px;
 }

 section#contact .form-group input,
 section#contact .form-group textarea {
     padding: 20px;
 }

 section#contact .form-group input.form-control {
     height: auto;
 }

 section#contact .form-group textarea.form-control {
     height: 248px;
 }

 section#contact .form-control:focus {
     border-color: #000000;
     -webkit-box-shadow: none;
     box-shadow: none;
 }

 section#contact ::-webkit-input-placeholder {
     font-weight: 700;
     color: #ced4da;
     font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
 }

 section#contact :-moz-placeholder {
     font-weight: 700;
     color: #ced4da;
     font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
 }

 section#contact ::-moz-placeholder {
     font-weight: 700;
     color: #ced4da;
     font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
 }

 section#contact :-ms-input-placeholder {
     font-weight: 700;
     color: #ced4da;
     font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
 }

 #contact {
     padding-top: 100px;
     padding-bottom: 100px;
 }